<?xml version="1.0"?>
<config>
	<modules>
		<Extendware_EWFreeGift>
			<version>1.0.6</version>
			<extendware>
	            <copyright_holder>extendware</copyright_holder>
	            <configure_url>extendware_ewfreegift/adminhtml_config/index</configure_url>
            </extendware>
		</Extendware_EWFreeGift>
	</modules>
	<admin>
        <routers>
			<extendware_ewfreegift>
				<use>admin</use>
				<args>
					<module>Extendware_EWFreeGift</module>
					<frontName>extendware_ewfreegift</frontName>
				</args>
			</extendware_ewfreegift>
        </routers>
    </admin>
    <adminhtml>
    	<translate>
			<modules>
				<Extendware_EWFreeGift>
					<files>
						<default>extendware/Extendware_EWFreeGift.csv</default>
					</files>
				</Extendware_EWFreeGift>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewfreegift>
					<file>extendware/ewfreegift.xml</file>
				</ewfreegift>
			</updates>
		</layout>
		<routers></routers>
	</adminhtml>
	<frontend>
		<translate>
			<modules>
				<Extendware_EWFreeGift>
					<files>
						<default>extendware/Extendware_EWFreeGift.csv</default>
					</files>
				</Extendware_EWFreeGift>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewfreegift>
					<file>extendware/ewfreegift.xml</file>
				</ewfreegift>
			</updates>
		</layout>
		<routers>
			<ewfreegift>
				<use>standard</use>
				<args>
					<module>Extendware_EWFreeGift</module>
					<frontName>ewfreegift</frontName>
				</args>
			</ewfreegift>
        </routers>
    </frontend>
	<global>
		<models>
			<ewfreegift>
				<class>Extendware_EWFreeGift_Model</class>
				<resourceModel>ewfreegift_resource</resourceModel>
			</ewfreegift>
			<ewfreegift_resource>
                <class>Extendware_EWFreeGift_Model_Resource</class>
                <entities/>
            </ewfreegift_resource>
		</models>
		<blocks>
			<ewfreegift>
                <class>Extendware_EWFreeGift_Block</class>
            </ewfreegift>
		</blocks>
		<helpers>
			<ewfreegift>
				<class>Extendware_EWFreeGift_Helper</class>
			</ewfreegift>
		</helpers>
		<resources>
			<ewfreegift_setup>
				<setup>
					<module>Extendware_EWFreeGift</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ewfreegift_setup>
			<ewfreegift_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ewfreegift_write>
            <ewfreegift_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ewfreegift_read>
		</resources>
		<events>
			<adminhtml_block_salesrule_actions_prepareform>
				<observers>
					<ewfreegift_adminhtmlBlockSalesruleActionsPrepareform>
						<type>singleton</type>
						<class>ewfreegift/observer_general</class>
						<method>adminhtmlBlockSalesruleActionsPrepareform</method>
					</ewfreegift_adminhtmlBlockSalesruleActionsPrepareform>
				</observers>
			</adminhtml_block_salesrule_actions_prepareform>
			<salesrule_validator_process>
				<observers>
					<ewfreegift>
						<type>singleton</type>
						<class>ewfreegift/observer_general</class>
						<method>salesruleValidatorProcess</method>
					</ewfreegift>
				</observers>
			</salesrule_validator_process>
			<sales_quote_collect_totals_before>
				<observers>
					<ewfreegift>
						<type>singleton</type>
						<class>ewfreegift/observer_general</class>
						<method>salesQuoteCollectTotalsBefore</method>
					</ewfreegift>
				</observers>
			</sales_quote_collect_totals_before>
			<sales_quote_collect_totals_after>
				<observers>
					<ewfreegift>
						<type>singleton</type>
						<class>ewfreegift/observer_general</class>
						<method>salesQuoteCollectTotalsAfter</method>
					</ewfreegift>
				</observers>
			</sales_quote_collect_totals_after>
			<sales_quote_product_add_after>
				<observers>
					<ewfreegift>
						<type>singleton</type>
						<class>ewfreegift/observer_general</class>
						<method>salesQuoteProductAddAfter</method>
					</ewfreegift>
				</observers>
			</sales_quote_product_add_after>
			<sales_quote_remove_item>
				<observers>
					<ewfreegift>
						<type>singleton</type>
						<class>ewfreegift/observer_general</class>
						<method>salesQuoteRemoveItem</method>
					</ewfreegift>
				</observers>
			</sales_quote_remove_item>
			<controller_action_predispatch_checkout_cart_updateItemOptions>
				<observers>
					<ewfreegift>
						<type>singleton</type>
						<class>ewfreegift/observer_general</class>
						<method>controllerActionPredispatchCheckoutCartUpdateItemOptions</method>
					</ewfreegift>
				</observers>
			</controller_action_predispatch_checkout_cart_updateItemOptions>
			<ewfreegift_add_promotional_product_to_cart_after>
				<observers>
					<ewfreegift>
						<type>singleton</type>
						<class>ewfreegift/observer_internal</class>
						<method>addGiftToCartAfter</method>
					</ewfreegift>
				</observers>
			</ewfreegift_add_promotional_product_to_cart_after>
		</events>
		<template></template>
	</global>
	<input></input>
	<crontab></crontab>
	<default>
		<ewfreegift>
			<general>
				<auto_add_enabled>1</auto_add_enabled>
				<free_shipping_enabled>1</free_shipping_enabled>
				<product_sort_by>default_default</product_sort_by>
			</general>
			<messages>
				<custom_cart_message><![CDATA[FREE GIFT!]]></custom_cart_message>
				<add_to_cart_message><![CDATA[We have added a free gift (%s) to your shopping cart.]]></add_to_cart_message>
				<unclaimed_gifts_message><![CDATA[Congratulations! Based on your purchase selection you are entitled to %s <b>FREE GIFT(S)</b>! Please <a href="#" class="ewfg-link"><b>select your gift(s)</b></a>!]]></unclaimed_gifts_message>
			</messages>
		</ewfreegift>
	</default>
	<extendware>
		<override>
			<model>
				<mage_sales_quote_item_ewfreegiftoverride>
           			<mode>extendware</mode>
           			<search><class>Mage_Sales_Model_Quote_Item</class></search>
           			<replace>
           				<class>Extendware_EWFreeGift_Model_Override_Mage_Sales_Quote_Item</class>
            			<order>0</order>
           			</replace>
           		</mage_sales_quote_item_ewfreegiftoverride>
				<mage_sales_quote_address_ewfreegiftoverride>
           			<mode>extendware</mode>
           			<search><class>Mage_Sales_Model_Quote_Address</class></search>
           			<replace>
           				<class>Extendware_EWFreeGift_Model_Override_Mage_Sales_Quote_Address</class>
            			<order>0</order>
           			</replace>
           		</mage_sales_quote_address_ewfreegiftoverride>
           	</model>
           	<block>
				<mage_adminhtml_promo_quote_edit_tab_actions_ewfreegiftsoverride>
           			<mode>extendware</mode>
           			<search><class>Mage_Adminhtml_Block_Promo_Quote_Edit_Tab_Actions</class></search>
           			<replace>
           				<class>Extendware_EWFreeGift_Block_Override_Mage_Adminhtml_Promo_Quote_Edit_Tab_Actions</class>
            			<order>1</order>
           			</replace>
           		</mage_adminhtml_promo_quote_edit_tab_actions_ewfreegiftsoverride>
           	</block>
		</override>
	</extendware>
</config>
