<?xml version="1.0"?>
<config>
    <modules>
        <Best4Mage_ConfigurableProductsSimplePrices>
            <version>0.1.6</version>
        </Best4Mage_ConfigurableProductsSimplePrices>
    </modules>
    <frontend>
		<routers>
            <configurableproductssimpleprices>
                <use>standard</use>
                <args>
                    <module>Best4Mage_ConfigurableProductsSimplePrices</module>
                    <frontName>configurableproductssimpleprices</frontName>
                </args>
            </configurableproductssimpleprices>
        </routers>
        <layout>
            <updates>
                <configurableproductssimpleprices>
                    <file>configurableproductssimpleprices.xml</file>
                </configurableproductssimpleprices>
            </updates>
        </layout>
		<events>
			<!--<checkout_cart_product_add_after>
				<observers>
					<configurableproductssimpleprices_modifyPrice>
						<class>Best4Mage_ConfigurableProductsSimplePrices_Model_Observer</class>
						<method>modifyPrice</method>
					</configurableproductssimpleprices_modifyPrice>
				</observers>
			</checkout_cart_product_add_after>
			<checkout_cart_update_items_before>
				<observers>
					<configurableproductssimpleprices_updatePrice>
						<class>Best4Mage_ConfigurableProductsSimplePrices_Model_Observer</class>
						<method>updatePrice</method>
					</configurableproductssimpleprices_updatePrice>
				</observers>
			</checkout_cart_update_items_before>
			<load_customer_quote_before>
				<observers>
					<configurableproductssimpleprices_loadCustomerCartBefore>
						<class>Best4Mage_ConfigurableProductsSimplePrices_Model_Observer</class>
						<method>loadCustomerCartBefore</method>
					</configurableproductssimpleprices_loadCustomerCartBefore>
				</observers>
			</load_customer_quote_before>
			<sales_quote_remove_item>
				<observers>
					<configurableproductssimpleprices_afterRemove_updatePrice>
						<class>Best4Mage_ConfigurableProductsSimplePrices_Model_Observer</class>
						<method>afterRemoveUpdatePrice</method>
					</configurableproductssimpleprices_afterRemove_updatePrice>
				</observers>
			</sales_quote_remove_item>
			<checkout_cart_save_before>
				<observers>
					<configurableproductssimpleprices_aftermerge_updatePrice>
						<class>Best4Mage_ConfigurableProductsSimplePrices_Model_Observer</class>
						<method>afterMergeUpdatePrice</method>
					</configurableproductssimpleprices_aftermerge_updatePrice>
				</observers>
			</checkout_cart_save_before>
			<controller_action_postdispatch_directory_currency_switch>
				<observers>
					<configurableproductssimpleprices_changecurrency_updatePrice>
						<class>Best4Mage_ConfigurableProductsSimplePrices_Model_Observer</class>
						<method>afterCurrencyUpdatePrice</method>
					</configurableproductssimpleprices_changecurrency_updatePrice>
				</observers>
			</controller_action_postdispatch_directory_currency_switch>-->
		</events>
    </frontend>
    <global>
		<models>
            <configurableproductssimpleprices>
                <class>Best4Mage_ConfigurableProductsSimplePrices_Model</class>
            </configurableproductssimpleprices>
			<catalog>
				<rewrite>
					<product_type_configurable_price>Best4Mage_ConfigurableProductsSimplePrices_Model_Price</product_type_configurable_price>
				</rewrite>
			</catalog>
			<tax>
				<rewrite>
					<sales_total_quote_subtotal>Best4Mage_ConfigurableProductsSimplePrices_Model_Subtotal</sales_total_quote_subtotal>
					<sales_total_quote_tax>Best4Mage_ConfigurableProductsSimplePrices_Model_Tax</sales_total_quote_tax>
				</rewrite>
			</tax>
        </models>
        <resources>
            <configurableproductssimpleprices_setup>
                <setup>
                    <module>Best4Mage_ConfigurableProductsSimplePrices</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </configurableproductssimpleprices_setup>
            <configurableproductssimpleprices_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </configurableproductssimpleprices_write>
            <configurableproductssimpleprices_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </configurableproductssimpleprices_read>
        </resources>
        <helpers>
            <configurableproductssimpleprices>
                <class>Best4Mage_ConfigurableProductsSimplePrices_Helper</class>
            </configurableproductssimpleprices>
        </helpers>
    </global>
</config>