<?xml version="1.0"?>
<config>
    <modules>
        <Extendware_EWReviewReminder>
            <version>1.0.4</version>
            <extendware>
	            <copyright_holder>extendware</copyright_holder>
	            <configure_url>extendware_ewreviewreminder/adminhtml_config/index</configure_url>
            </extendware>
        </Extendware_EWReviewReminder>
    </modules>
    <admin>
        <routers>
			<extendware_ewreviewreminder>
				<use>admin</use>
				<args>
					<module>Extendware_EWReviewReminder</module>
					<frontName>extendware_ewreviewreminder</frontName>
				</args>
			</extendware_ewreviewreminder>
        </routers>
    </admin>
    <frontend>
		<translate>
			<modules>
				<Extendware_EWReviewReminder>
					<files>
						<default>extendware/Extendware_EWReviewReminder.csv</default>
					</files>
				</Extendware_EWReviewReminder>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewreviewreminder>
					<file>extendware/ewreviewreminder.xml</file>
				</ewreviewreminder>
			</updates>
		</layout>
		<routers>
            <ewreviewreminder>
                <use>standard</use>
                <args>
                    <module>Extendware_EWReviewReminder</module>
                    <frontName>ewreviewreminder</frontName>
                </args>
            </ewreviewreminder>
        </routers> 
    </frontend>
    <adminhtml>
        <translate>
			<modules>
				<Extendware_EWReviewReminder>
					<files>
						<default>extendware/Extendware_EWReviewReminder.csv</default>
					</files>
				</Extendware_EWReviewReminder>
			</modules>
		</translate>
        <layout>
			<updates>
				<ewreviewreminder>
					<file>extendware/ewreviewreminder.xml</file>
				</ewreviewreminder>
			</updates>
		</layout>
		<routers></routers>
    </adminhtml>
    <global>
        <models>
            <ewreviewreminder>
                <class>Extendware_EWReviewReminder_Model</class>
                <resourceModel>ewreviewreminder_mysql4</resourceModel>
            </ewreviewreminder>
            <ewreviewreminder_mysql4>
                <class>Extendware_EWReviewReminder_Model_Mysql4</class>
                <entities>
                    <reminder>
                        <table>ewreviewreminder_reminder</table>
                    </reminder>
                    <history>
                        <table>ewreviewreminder_history</table>
                    </history>
                    <blacklist>
                        <table>ewreviewreminder_blacklist</table>
                    </blacklist>
                </entities>
            </ewreviewreminder_mysql4>
        </models>
        <blocks>
            <ewreviewreminder>
                <class>Extendware_EWReviewReminder_Block</class>
            </ewreviewreminder>
        </blocks>
        <helpers>
            <ewreviewreminder>
                <class>Extendware_EWReviewReminder_Helper</class>
            </ewreviewreminder>
        </helpers>
        <template>
            <email>
               <ewreviewreminder_reminder_email_template translate="label" module="ewreviewreminder">
                   <label>Review Reminder (extendware)</label>
                   <file>extendware/ewreviewreminder/reminder.html</file>
                   <type>html</type>
               </ewreviewreminder_reminder_email_template>
            </email>
        </template>
        <events>       
            <review_save_commit_after>
                <observers>
                    <ewreviewreminder>
                        <type>singleton</type>
                        <class>ewreviewreminder/observer_event</class>
                        <method>reviewSaveCommitAfter</method>
                    </ewreviewreminder>
                </observers>
            </review_save_commit_after>
            <ewreviewreminder_before_send>
                <observers>
                    <ewreviewreminder>
                        <type>singleton</type>
                        <class>ewreviewreminder/observer_public</class>
                        <method>beforeSend</method>
                    </ewreviewreminder>
                </observers>
            </ewreviewreminder_before_send>
        </events>
        <resources>
            <ewreviewreminder_setup>
                <setup>
                    <module>Extendware_EWReviewReminder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ewreviewreminder_setup>
            <ewreviewreminder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ewreviewreminder_write>
            <ewreviewreminder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ewreviewreminder_read>
        </resources>
    </global>
    <input></input>
    <crontab>
        <jobs>
            <ewreviewreminder_generate>
                <!-- each 6 hours -->
                <schedule><cron_expr>54 */6 * * *</cron_expr></schedule>
                <run><model>ewreviewreminder/observer_cronjob::generateReminders</model></run>
            </ewreviewreminder_generate>
            <ewreviewreminder_send>
                <!-- each 5 minutes -->
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>ewreviewreminder/observer_cronjob::sendReminders</model></run>
            </ewreviewreminder_send>
            <ewreviewreminder_stats>
                <!-- every hour -->
                <schedule><cron_expr>0 * * * *</cron_expr></schedule>
                <run><model>ewreviewreminder/observer_cronjob::updateCouponStats</model></run>
            </ewreviewreminder_stats>
            <ewreviewreminder_cleanup>
                <!-- every 12 hours -->
                <schedule><cron_expr>0 */12 * * *</cron_expr></schedule>
                <run><model>ewreviewreminder/observer_cronjob::cleanupSalesRules</model></run>
            </ewreviewreminder_cleanup>
        </jobs> 
    </crontab>
    <default>
        <ewreviewreminder>
            <general>
            	<status>1</status>
                <num_reminders>3</num_reminders>
                <stop_after_visit>1</stop_after_visit>
            </general>  
            <generation>
                <status>1</status>
                <disabled_customer_groups></disabled_customer_groups>
                <reminder_protection_period>5</reminder_protection_period>
            </generation> 
            <email>
            	<status>1</status>
            	<sender_identity>general</sender_identity> 
    			<default_customer_name>Valued Customer</default_customer_name> 
    			<bcc/>
    		</email>
    		<advanced>
            	<magento_cron_enabled>1</magento_cron_enabled>
    		</advanced>
        </ewreviewreminder>
    </default>
    <extendware>
		<override>
			<block>
				<mage_page_head_ewcore_override>
           			<mode>extendware</mode>
					<search><class>Mage_Page_Block_Html_Head</class></search>
					<replace>
						<class>Extendware_EWCore_Block_Override_Mage_Page_Html_Head</class>
						<order>0</order>
					</replace>
					<conditions>
           				<extension_exists>
	           				<ignore>1</ignore>
           				</extension_exists>
           			</conditions>
				</mage_page_head_ewcore_override>
			</block>
	   </override>
	</extendware>
</config>
