<?xml version="1.0"?>
<config>
	<modules>
		<Extendware_EWSphinx>
			<version>1.0.8</version>
			<extendware>
	            <copyright_holder>extendware</copyright_holder>
	            <configure_url>extendware_ewsphinx/adminhtml_config/index</configure_url>
            </extendware>
		</Extendware_EWSphinx>
	</modules>
	<admin>
        <routers>
			<extendware_ewsphinx>
				<use>admin</use>
				<args>
					<module>Extendware_EWSphinx</module>
					<frontName>extendware_ewsphinx</frontName>
				</args>
			</extendware_ewsphinx>
        </routers>
    </admin>
    <adminhtml>
    	<translate>
			<modules>
				<Extendware_EWSphinx>
					<files>
						<default>extendware/Extendware_EWSphinx.csv</default>
					</files>
				</Extendware_EWSphinx>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewsphinx>
					<file>extendware/ewsphinx.xml</file>
				</ewsphinx>
			</updates>
		</layout>
		<routers></routers>
	</adminhtml>
	<frontend>
		<translate>
			<modules>
				<Extendware_EWSphinx>
					<files>
						<default>extendware/Extendware_EWSphinx.csv</default>
					</files>
				</Extendware_EWSphinx>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewsphinx>
					<file>extendware/ewsphinx.xml</file>
				</ewsphinx>
			</updates>
		</layout>
		<routers>
			<ewsphinx>
				<use>standard</use>
				<args>
					<module>Extendware_EWSphinx</module>
					<frontName>ewsphinx</frontName>
				</args>
			</ewsphinx>
        </routers>
    </frontend>
	<global>
		<models>
			<ewsphinx>
				<class>Extendware_EWSphinx_Model</class>
				<resourceModel>ewsphinx_resource</resourceModel>
			</ewsphinx>
			<ewsphinx_resource>
                <class>Extendware_EWSphinx_Model_Resource</class>
                <entities>
                    <synonym>
                        <table>ewsphinx_synonym</table>
                    </synonym>
                    <stopword>
                        <table>ewsphinx_stopword</table>
                    </stopword>
                </entities>
            </ewsphinx_resource>
		</models>
		<blocks>
			<ewsphinx>
                <class>Extendware_EWSphinx_Block</class>
            </ewsphinx>
		</blocks>
		<helpers>
			<ewsphinx>
				<class>Extendware_EWSphinx_Helper</class>
			</ewsphinx>
		</helpers>
		<resources>
			<ewsphinx_setup>
				<setup>
					<module>Extendware_EWSphinx</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ewsphinx_setup>
			<ewsphinx_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ewsphinx_write>
            <ewsphinx_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ewsphinx_read>
		</resources>
		<events>       
            <!--<ewsphinx_before_add_item_to_index>
                <observers>
                    <ewsphinx>
                        <type>singleton</type>
                        <class>ewsphinx/observer_example</class>
                        <method>beforeAddItemToIndex</method>
                    </ewsphinx>
                </observers>
            </ewsphinx_before_add_item_to_index>-->
        </events>
		<template></template>
	</global>
	<input></input>
	<crontab>
        <jobs>
            <ewsphinx_reindexAllCronjob>
                <schedule><config_path>ewsphinx_advanced/cronjob/all_cron_expr</config_path></schedule>
                <run><model>ewsphinx/observer_cronjob::reindexAllCronjob</model></run>
            </ewsphinx_reindexAllCronjob>
            <ewsphinx_reindexDeltaCronjob>
                <schedule><config_path>ewsphinx_advanced/cronjob/delta_cron_expr</config_path></schedule>
                <run><model>ewsphinx/observer_cronjob::reindexDeltaCronjob</model></run>
            </ewsphinx_reindexDeltaCronjob>
        </jobs> 
    </crontab>
	<default>
    	<ewsphinx>
            <general>
                <enabled>0</enabled>
            </general>
            <search>
            	<mode>4</mode>
            	<wildcard_mode>both</wildcard_mode>
            	<operator>or</operator>
            	<field_boosters><![CDATA[a:2:{s:18:"_1406227547407_407";a:2:{s:1:"f";s:4:"name";s:1:"v";s:2:"10";}s:18:"_1406227558167_167";a:2:{s:1:"f";s:3:"sku";s:1:"v";s:1:"5";}}]]></field_boosters>
            </search>
            <indexing>
            	<tag_inclusion>1</tag_inclusion>
                <category_inclusion>1</category_inclusion>
                <child_sku_inclusion>1</child_sku_inclusion>
            </indexing>
        </ewsphinx>
        <ewsphinx_page>
            <general>
                <enabled>1</enabled>
            </general>
            <search>
            	<mode>4</mode>
            	<wildcard_mode>both</wildcard_mode>
            	<operator>or</operator>
            	<field_boosters></field_boosters>
            </search>
            <indexing>
            	<search_attributes>title,content,content_heading,meta_keywords,meta_description</search_attributes>
            	<excluded_pages></excluded_pages>
            </indexing>
        </ewsphinx_page>
        <ewsphinx_category>
            <general>
                <enabled>1</enabled>
            </general>
            <search>
            	<mode>4</mode>
            	<wildcard_mode>both</wildcard_mode>
            	<operator>or</operator>
            	<field_boosters></field_boosters>
            </search>
            <indexing>
            	<search_attributes>name,description,meta_title,meta_keywords,meta_description</search_attributes>
            </indexing>
        </ewsphinx_category>
        <ewsphinx_advanced>
            <general>
                <cache_enabled>0</cache_enabled>
                <max_results>150</max_results>
                <wildcard_min_length>3</wildcard_min_length>
                <clean_string_regexp>/[^a-zA-Z0-9\/\s\-]/</clean_string_regexp>
                <chars2spaces>-/\</chars2spaces>
                <synonyms></synonyms>
            </general>
            <connection>
                <mode>local</mode>
                <host>127.0.0.1</host>
                <port>3307</port>
                <binary_path>/usr/local/sphinx/bin</binary_path>
                <remote_path>/var/sphinx</remote_path>
            </connection>
            <indexing>
            	<morphology_mode>none</morphology_mode>
                <chars_for_tokenization>-/\</chars_for_tokenization>
                <number_tokenization_enabled>0</number_tokenization_enabled>
                <min_word_length>2</min_word_length>
                <max_memory>32</max_memory>
            </indexing>
            <cronjob>
            	<magento_cron_enabled>1</magento_cron_enabled>
            	<all_cron_expr>37 3 * * *</all_cron_expr>
            	<delta_cron_expr>*/15 * * * *</delta_cron_expr>
            </cronjob>
            <misc>
            	<php_command>php</php_command>
            	<which_binary_path>which</which_binary_path>
            	<wait_timeout>0</wait_timeout>
            </misc>
        </ewsphinx_advanced>
	</default>
	<extendware>
		<override>
			<model>
           		<mage_catalogsearch_resource_fulltext_ewsphinx_override>
           			<mode>extendware</mode>
           			<search><class>Mage_CatalogSearch_Model_Resource_Fulltext</class></search>
           			<replace>
           				<class>Extendware_EWSphinx_Model_Override_Mage_CatalogSearch_Resource_Fulltext</class>
            			<order>100</order>
           			</replace>
           		</mage_catalogsearch_resource_fulltext_ewsphinx_override>
           		<!-- used to support older versions of magento -->
           		<mage_catalogsearch_mysql4_fulltext_ewsphinx_override>
           			<mode>extendware</mode>
           			<search><class>Mage_CatalogSearch_Model_Mysql4_Fulltext</class></search>
           			<replace>
           				<class>Extendware_EWSphinx_Model_Override_Mage_CatalogSearch_Mysql4_Fulltext</class>
            			<order>100</order>
           			</replace>
           			<conditions>
           				<class_check>
	           				<type>simple</type>
	           				<name>class_is_loadable</name>
	           				<class>Mage_CatalogSearch_Model_Resource_Fulltext</class>
           					<value>0</value>
           				</class_check>
           			</conditions>
           		</mage_catalogsearch_mysql4_fulltext_ewsphinx_override>
           	</model>
		</override>
	</extendware>
</config>
